[user]
    email = ethanfritz.t@gmail.com
    name = Ethan Fritz
    signingKey = ethanfritz.t@gmail.com
[includeIf "gitdir:~/Moreland/"]
    path = ~/Moreland/workconf/.gitconfig
[core]
    editor = vim
[log]
    abbrevCommit = true
    decorate = short
    date = format:%a, %Y-%m-%d %R (%z)
    follow = true
    graphColors = 1,2,3,4,5,6,8,166,9,10,11,12,13,14,15,208
    showRoot = true
    mailmap = true
